/cppLib/VSProject/cppLibs/*.obj
/cppLib/VSProject/cppLibs/*.tlog
/cppLib/VSProject/cppLibs/*.log
/cppLib/VSProject/cppLibs/*.pdb
/cppLib/VSProject/cppLibs/*.lastbuildstate
/cppLib/VSProject/cppLibs/*.idb
/cppLib/VSProject/cppLibs/*.suo
/cppLib/VSProject/cppLibs/*.dtbcache
/cppLib/VSProject/cppLibs/*.db
/cppLib/VSProject/cppLibs/*.map
/cppLib/VSProject/cppLibs/.vs
/cppLib/VSProject/cppLibs/cppLibs/x64/*
/cppLib/VSProject/cppLibs/g3dlite/x64/*
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.dll
/cppLib/VSProject/cppLibs/x64/*
/Project/Library/*
/Project/Temp/*
/Project/UnityPackageManager/*.json
/cppLib/VSProject/cppLibs/g3dlite/x64/*
/cppLib/VSProject/cppLibs/x64/*
/cppLib/VSProject/cppLibs/cppLibs/x64/*
/cppLib/VSProject/cppLibs/.vs
/Project/Assets/Resources/PlayerModel
/Project/Assets/Resources/Realistic Terrain Collection
/cppLib/VSProject/cppLibs/x64
/cppLib/VSProject/cppLibs/TestClient/x64
/cppLib/VSProject/cppLibs/Logger/Logger/x64
/cppLib/VSProject/cppLibs/*/x64
/cppLib/VSProject/cppLibs/*.log
/Project/Assets/Plugins/x86/*.pdb
/Project/Assets/Plugins/x86_x64/*.pdb
/Project/.vs
/Project/Assets/Resources/PlayerModel.meta
/Project/Assets/Resources/Realistic Terrain Collection.meta
/cppLib/VSProject/cppLibs/Debug
/cppLib/VSProject/cppLibs/cppLibs/Debug
