/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/.suo
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/Browse.VC.db
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/Browse.VC.opendb
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/Solution.VC.db
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/Solution.VC.db-shm
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/Solution.VC.db-wal
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.log
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/CL.command.1.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/CL.read.1.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/CL.write.1.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/cppLibs.lastbuildstate
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/cppLibs.write.1u.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/link.command.1.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/link.read.1.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/cppLibs.tlog/link.write.1.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/pch.obj
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/vc141.idb
/cppLib/VSProject/cppLibs/cppLibs/x64/Debug/vc141.pdb
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Matrix3.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Matrix4.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Vector2.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Vector2int16.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Vector3.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Vector3int16.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/Vector3int32.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.idb
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.log
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.pdb
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/CL.command.1.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/CL.read.1.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/CL.write.1.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/Lib-link.read.1.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/Lib-link.write.1.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/Lib.command.1.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Debug/g3dlite.tlog/g3dlite.lastbuildstate
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.dll
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.exp
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.ilk
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.lib
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.pdb
/cppLib/VSProject/cppLibs/x64/Debug/g3dlite.lib
/cppLib/VSProject/cppLibs/x64/Debug/g3dlite.pdb
/Project/Library/*
/Project/Library/*.prefs
/Project/Library/*.asset
/Project/Library/*.dwlt
/Project/Library/*.json
/Project/Library/*.txt
/Project/Library/ScriptAssemblies/*.dll
/Project/Library/ScriptAssemblies/*.mdb
/Project/Library/ScriptAssemblies/*.stamp
/Project/Library/ShaderCache/1/*.bin
/Project/Library/ShaderCache/2/*.bin
/Project/Library/ShaderCache/3/*.bin
/Project/Library/ShaderCache/4/*.bin
/Project/Library/ShaderCache/5/*.bin
/Project/Library/ShaderCache/8/*.bin
/Project/Library/ShaderCache/9/*.bin
/Project/Library/metadata/00/*
/Project/Library/metadata/00/*.info
/Project/Library/metadata/01/*
/Project/Library/metadata/01/*.info
/Project/Library/metadata/05/*
/Project/Library/metadata/05/*.info
/Project/Library/metadata/06/*
/Project/Library/metadata/06/*.info
/Project/Library/metadata/0d/*
/Project/Library/metadata/0d/*.info
/Project/Library/metadata/10/*
/Project/Library/metadata/10/*.info
/Project/Library/metadata/12/*
/Project/Library/metadata/12/*.info
/Project/Library/metadata/13/*
/Project/Library/metadata/13/*.info
/Project/Library/metadata/15/*
/Project/Library/metadata/15/*.info
/Project/Library/metadata/1b/*
/Project/Library/metadata/1b/*.info
/Project/Library/metadata/1c/*
/Project/Library/metadata/1c/*.info
/Project/Library/metadata/20/*
/Project/Library/metadata/20/*.info
/Project/Library/metadata/21/*
/Project/Library/metadata/21/*.info
/Project/Library/metadata/22/*
/Project/Library/metadata/22/*.info
/Project/Library/metadata/26/*
/Project/Library/metadata/26/*.info
/Project/Library/metadata/2d/*
/Project/Library/metadata/2d/*.info
/Project/Library/metadata/32/*
/Project/Library/metadata/32/*.info
/Project/Library/metadata/33/*
/Project/Library/metadata/33/*.info
/Project/Library/metadata/36/*
/Project/Library/metadata/36/*.info
/Project/Library/metadata/38/*
/Project/Library/metadata/38/*.info
/Project/Library/metadata/3a/*
/Project/Library/metadata/3a/*.info
/Project/Library/metadata/3c/*
/Project/Library/metadata/3c/*.info
/Project/Library/metadata/40/*
/Project/Library/metadata/40/*.info
/Project/Library/metadata/41/*
/Project/Library/metadata/41/*.info
/Project/Library/metadata/44/*
/Project/Library/metadata/44/*.info
/Project/Library/metadata/45/*
/Project/Library/metadata/45/*.info
/Project/Library/metadata/48/*
/Project/Library/metadata/48/*.info
/Project/Library/metadata/4a/*
/Project/Library/metadata/4a/*.info
/Project/Library/metadata/4b/*
/Project/Library/metadata/4b/*.info
/Project/Library/metadata/4c/*
/Project/Library/metadata/4c/*.info
/Project/Library/metadata/4e/*
/Project/Library/metadata/4e/*.info
/Project/Library/metadata/4f/*
/Project/Library/metadata/4f/*.info
/Project/Library/metadata/51/*
/Project/Library/metadata/51/*.info
/Project/Library/metadata/53/*
/Project/Library/metadata/53/*.info
/Project/Library/metadata/54/*
/Project/Library/metadata/54/*.info
/Project/Library/metadata/56/*
/Project/Library/metadata/56/*.info
/Project/Library/metadata/57/*
/Project/Library/metadata/57/*.info
/Project/Library/metadata/5f/*
/Project/Library/metadata/5f/*.info
/Project/Library/metadata/62/*
/Project/Library/metadata/62/*.info
/Project/Library/metadata/65/*
/Project/Library/metadata/65/*.info
/Project/Library/metadata/6a/*
/Project/Library/metadata/6a/*.info
/Project/Library/metadata/6e/*
/Project/Library/metadata/6e/*.info
/Project/Library/metadata/75/*
/Project/Library/metadata/75/*.info
/Project/Library/metadata/76/*
/Project/Library/metadata/76/*.info
/Project/Library/metadata/79/*
/Project/Library/metadata/79/*.info
/Project/Library/metadata/7c/*
/Project/Library/metadata/7c/*.info
/Project/Library/metadata/7f/*
/Project/Library/metadata/7f/*.info
/Project/Library/metadata/80/*
/Project/Library/metadata/80/*.info
/Project/Library/metadata/84/*
/Project/Library/metadata/84/*.info
/Project/Library/metadata/86/*
/Project/Library/metadata/86/*.info
/Project/Library/metadata/87/*
/Project/Library/metadata/87/*.info
/Project/Library/metadata/88/*
/Project/Library/metadata/88/*.info
/Project/Library/metadata/8e/*
/Project/Library/metadata/8e/*.info
/Project/Library/metadata/90/*
/Project/Library/metadata/90/*.info
/Project/Library/metadata/96/*
/Project/Library/metadata/96/*.info
/Project/Library/metadata/99/*
/Project/Library/metadata/99/*.info
/Project/Library/metadata/9b/*
/Project/Library/metadata/9b/*.info
/Project/Library/metadata/9c/*
/Project/Library/metadata/9c/*.info
/Project/Library/metadata/9d/*
/Project/Library/metadata/9d/*.info
/Project/Library/metadata/a3/*
/Project/Library/metadata/a3/*.info
/Project/Library/metadata/a6/*
/Project/Library/metadata/a6/*.info
/Project/Library/metadata/a9/*
/Project/Library/metadata/a9/*.info
/Project/Library/metadata/ad/*
/Project/Library/metadata/ad/*.info
/Project/Library/metadata/b1/*
/Project/Library/metadata/b1/*.info
/Project/Library/metadata/b2/*
/Project/Library/metadata/b2/*.info
/Project/Library/metadata/b3/*
/Project/Library/metadata/b3/*.info
/Project/Library/metadata/b5/*
/Project/Library/metadata/b5/*.info
/Project/Library/metadata/b8/*
/Project/Library/metadata/b8/*.info
/Project/Library/metadata/b9/*
/Project/Library/metadata/b9/*.info
/Project/Library/metadata/bc/*
/Project/Library/metadata/bc/*.info
/Project/Library/metadata/c4/*
/Project/Library/metadata/c4/*.info
/Project/Library/metadata/c5/*
/Project/Library/metadata/c5/*.info
/Project/Library/metadata/c7/*
/Project/Library/metadata/c7/*.info
/Project/Library/metadata/c9/*
/Project/Library/metadata/c9/*.info
/Project/Library/metadata/cb/*
/Project/Library/metadata/cb/*.info
/Project/Library/metadata/cc/*
/Project/Library/metadata/cc/*.info
/Project/Library/metadata/ce/*
/Project/Library/metadata/ce/*.info
/Project/Library/metadata/d1/*
/Project/Library/metadata/d1/*.info
/Project/Library/metadata/d3/*
/Project/Library/metadata/d3/*.info
/Project/Library/metadata/d6/*
/Project/Library/metadata/d6/*.info
/Project/Library/metadata/d9/*
/Project/Library/metadata/d9/*.info
/Project/Library/metadata/dc/*
/Project/Library/metadata/dc/*.info
/Project/Library/metadata/e1/*
/Project/Library/metadata/e1/*.info
/Project/Library/metadata/e4/*
/Project/Library/metadata/e4/*.info
/Project/Library/metadata/ea/*
/Project/Library/metadata/ea/*.info
/Project/Library/metadata/ed/*
/Project/Library/metadata/ed/*.info
/Project/Library/metadata/ee/*
/Project/Library/metadata/ee/*.info
/Project/Library/metadata/f1/*
/Project/Library/metadata/f1/*.info
/Project/Library/metadata/f2/*
/Project/Library/metadata/f2/*.info
/Project/Library/metadata/f5/*
/Project/Library/metadata/f5/*.info
/Project/Library/metadata/f7/*
/Project/Library/metadata/f7/*.info
/Project/Library/metadata/fa/*
/Project/Library/metadata/fa/*.info
/Project/Library/metadata/fe/*
/Project/Library/metadata/fe/*.info
/Project/Library/*.log
/Project/Temp/ProcessJobs/*.bakert
/Project/Temp/*
/Project/UnityPackageManager/*.json
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/ipch/AutoPCH/be86739a2d1ebf4a/*.ipch
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/ipch/AutoPCH/fbac67a01bcc9ec6/*.ipch
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/*.log
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/cppLibs.tlog/*.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/cppLibs.tlog/*.lastbuildstate
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/*.obj
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/*.pdb
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/*.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/*.log
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/*.pdb
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/g3dlite.tlog/*.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/g3dlite.tlog/*.lastbuildstate
/cppLib/VSProject/cppLibs/x64/Release/*.dll
/cppLib/VSProject/cppLibs/x64/Release/*.exp
/cppLib/VSProject/cppLibs/x64/Release/*.iobj
/cppLib/VSProject/cppLibs/x64/Release/*.ipdb
/cppLib/VSProject/cppLibs/x64/Release/*.lib
/cppLib/VSProject/cppLibs/x64/Release/*.pdb
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/ipch/AutoPCH/adf363befadf36c2/*.ipch
/Project/.vs/Project/v15/Server/sqlite3/*.lock
/Project/.vs/Project/v15/Server/sqlite3/*.ide
/Project/.vs/Project/v15/Server/sqlite3/*.ide-shm
/Project/.vs/Project/v15/Server/sqlite3/*.ide-wal
