/cppLib/VSProject/cppLibs/*.obj
/cppLib/VSProject/cppLibs/*.tlog
/cppLib/VSProject/cppLibs/*.log
/cppLib/VSProject/cppLibs/*.pdb
/cppLib/VSProject/cppLibs/*.lastbuildstate
/cppLib/VSProject/cppLibs/*.idb
/cppLib/VSProject/cppLibs/*.suo
/cppLib/VSProject/cppLibs/*.dtbcache
/cppLib/VSProject/cppLibs/*.db
/cppLib/VSProject/cppLibs/*.map
/cppLib/VSProject/cppLibs/.vs
/cppLib/VSProject/cppLibs/cppLibs/x64/*
/cppLib/VSProject/cppLibs/g3dlite/x64/*
/cppLib/VSProject/cppLibs/x64/Debug/cppLibs.dll
/cppLib/VSProject/cppLibs/x64/*
/Project/Library/*
/Project/Temp/*
/Project/UnityPackageManager/*.json
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/*.log
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/cppLibs.tlog/*.tlog
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/cppLibs.tlog/*.lastbuildstate
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/*.obj
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/*.pdb
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/*.obj
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/*.log
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/*.pdb
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/g3dlite.tlog/*.tlog
/cppLib/VSProject/cppLibs/g3dlite/x64/Release/g3dlite.tlog/*.lastbuildstate
/cppLib/VSProject/cppLibs/x64/Release/*.dll
/cppLib/VSProject/cppLibs/x64/Release/*.exp
/cppLib/VSProject/cppLibs/x64/Release/*.iobj
/cppLib/VSProject/cppLibs/x64/Release/*.ipdb
/cppLib/VSProject/cppLibs/x64/Release/*.lib
/cppLib/VSProject/cppLibs/x64/Release/*.pdb
/cppLib/VSProject/cppLibs/.vs/cppLibs/v15/ipch/AutoPCH/adf363befadf36c2/*.ipch
/cppLib/VSProject/cppLibs/cppLibs/x64/Release/cppLibs.tlog/unsuccessfulbuild
/cppLib/VSProject/cppLibs/.vs
/Project/Assets/Resources/PlayerModel
/Project/Assets/Resources/Realistic Terrain Collection
/cppLib/VSProject/cppLibs/x64
/cppLib/VSProject/cppLibs/TestClient/x64
/cppLib/VSProject/cppLibs/Logger/Logger/x64
/cppLib/VSProject/cppLibs/*/x64
/cppLib/VSProject/cppLibs/*.log
/Project/Assets/Plugins/x86/*.pdb
/Project/Assets/Plugins/x86_x64/*.pdb
/Project/.vs
